* {
  padding: 0;
  margin: 0;
}
* body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background: #FFF url(../imagens/bg.png);
  margin: 15px;
}
* ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
* a {
  text-decoration: none;
  display: block;
  font-size: 1em;
}
* button {
  cursor: pointer;
}
* h2 {
  font-size: 1.1em;
  color: #7d7640;
  padding: 5px 0px;
}

p {
  font-size: 1em;
  margin-bottom: 10px;
}

h3 {
  text-transform: uppercase;
  display: block;
  font-size: 0.8em;
  padding: 3px;
}

a.reserva {
  text-transform: uppercase;
  background: #a29750;
  color: #fff5b0;
  border-radius: 10px;
  padding: 5px 10px;
  float: right;
}
a.reserva:hover {
  background-color: transparent;
  border: 1px solid #a29750;
  color: #a29750;
}

#container {
  background: #ede9cc url(../imagens/bg-container.png) top center repeat-y;
  margin: 0 auto;
  min-width: 740px;
  max-width: 1180px;
}
#container #topo {
  position: relative;
  background: #dbcd87;
  height: 15.4em;
  min-width: 250px;
}
#container #area-logo {
  position: absolute;
  background: url(../imagens/topo-imagem-principal2.png) no-repeat;
  width: 100%;
  height: 250px;
  top: 0;
  left: 0;
  z-index: 1;
}
#container #area-logo .logo a {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 3;
  background: url(../imagens/logo.png) no-repeat;
  width: 150px;
  height: 66px;
  text-indent: -3000px;
}
#container #area-menu {
  position: absolute;
  top: 0;
  right: 0;
  background: url(../imagens/topo-imagem-lateral.png) no-repeat;
  width: 450px;
  height: 250px;
  z-index: 2;
}
#container #area-menu #conteudo-menu {
  margin-left: 90px;
  margin-right: 15px;
  padding-top: 15px;
}
#container #area-menu #conteudo-menu #menu-locais {
  border-bottom: 1px solid #b5ab56;
  border-top: 1px solid #b5ab56;
  padding-top: 5px;
  padding-bottom: 5.1px;
  font-size: 0.7em;
  color: #8b8448;
}
#container #area-menu #conteudo-menu #menu-locais .locais {
  float: left;
  line-height: 2.1em;
}

#menu {
  margin-top: 15px;
}
#menu .depoimento {
  width: 226px;
  height: 164px;
  float: right;
}
#menu ul#navegacao {
  float: left;
}
#menu ul#navegacao a {
  text-transform: uppercase;
  font-size: 0.8em;
  padding: 5px;
  color: #6e672c;
  line-height: 22px;
}
#menu ul#navegacao a:hover {
  background: #fdf6be;
}

.conteudo {
  margin: 0 auto;
  width: 90%;
}

#area-principal {
  float: left;
  width: 50%;
  background: url(../imagens/bg-area-principal.png) top left repeat-x;
  padding: 15px 0px;
}

#area-lateral {
  float: right;
  width: 50%;
  background: url(../imagens/bg-area-lateral.png) top left repeat-x;
  padding: 20px 0px;
}
#area-lateral #beneficios li {
  padding: 8px;
  border-bottom: 1px solid #f3efcb;
  height: 6em;
}
#area-lateral #beneficios li a {
  font-size: 0.8em;
}
#area-lateral #beneficios li a p {
  font-size: 0.8em;
  color: #000;
}
#area-lateral #beneficios li a h3 {
  font-size: 1em;
  color: #615b2d;
  padding: 5px 0px;
  background: url(../imagens/ornamento.png) no-repeat center right;
}
#area-lateral #beneficios li a img {
  float: left;
  margin-right: 20px;
}
#area-lateral #beneficios li:hover {
  background: #f6f3d6;
}

#rodape {
  clear: both;
  padding: 16px;
  background: #fff url(../imagens/bg-rodape.png) repeat-x top;
  color: #7d7640;
}

.btn-reserva {
  width: 60px;
  background-color: #de003e;
  color: #fff;
  border-radius: 10px;
  border: 2px solid #de003e;
  text-transform: uppercase;
  font-size: 0.7em;
  transition: 0.5s;
  display: block;
  margin: 0 auto;
}
.btn-reserva:hover {
  background-color: transparent;
  color: #de003e;
  cursor: pointer;
}

/*# sourceMappingURL=main.css.map */
